<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condicionais e listas</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <main id="app">
        <template v-if="logado">
        <p v-if="logado">
            <p>Usuário Logado: {{ nome }}</p>
            <p>Perfil: Admin</p>
        </p>
        </template>
        <p v-else-if="anonimo">Navegando como anônimo</p>
        <p v-else>Nenhum Usuário Logado</p>
        <button @click="logado = !logado"> {{ logado ? "Sair" : "Entrar" }}</button>
        <input id="anonimo" type="checkbox" v-model="anonimo">
        <label for="anonimo">Navegação Anônima</label>
        <hr>
        <footer v-show="logado">
            Desenvolvido para o(a) {{nome}}
        </footer>
        <footer v-show="!logado">
            Desenvolvido com amor
        </footer>

        <h2>Listas</h2>

        <ul>
        <li>
            <li :key="index" v-for="(cor, index) in cores">{{index}} - {{cor}}</li>
        </li>
        </ul>

        <input type="text" @keyup.enter="cores.push($event.target.value)">Adicionar </input>

        <ul>
            <li v-for="pessoa in pessoas">
                <template v-for="(valor, chave, indice) in pessoa">
                    {{chave}} = {{valor}}
                </template>
            </li>
        </ul>

        <ul>
            <li :key="numero" v-for="numero in 10 ">{{numero}}</li>
        </ul>

        <ul>
            <li :key="index" v-for="palavra in 'Pensar' ">{{palavra}}</li>
        </ul>
    </main>

    <script src="script.js"></script>
</body>

</html>